body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  margin-bottom: 0px;
}
 
/*
 * Create dark grey header with a white logo
 */
footer {
  height:23px;
  background-color:#2B2B2B;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
}

footer p {
  margin: 0;
  padding: 0;
  display: inline;
  color: white;
}

footer p.footer_name {
  float: left;
}

footer p.footer_email {
  float: right;
}

header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
}