<!DOCTYPE html>
<html>
	<head>
		<title>hippopotamus</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-0.3.0.min.css') }}">
		<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/chessboard-0.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/chess_interface.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/chess.js') }}"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<h1 class="logo">Hippopotamus</h1>
				<strong><nav>
					<ul class="menu">
						<li><a href="{{ url_for('home') }}">Home</a></li>
			</div>
		</header> 
		<br>
		<div class="chess-container">
			{% block content %}
			{% endblock %}
		</div>
		<br>
		<footer>
			<div class="container">
				<p class="footer_name">Jeff Maxim</p>
				<p class="footer_email">Contact information: <a href="mailto:frey.maxim@gmail.com">frey.maxim@gmail.com</a></p>
			</div>
		</footer>
	</body>
</html>